{% extends "base.html" %}

{% block basehead %}
<style>
	body {
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
	}

	#splash {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		display: grid;
		margin: 0;
		padding: 0;
		background-image: url(https://cleaningpros.ca/media/filer_public_thumbnails/filer_public/89/68/896832da-20c4-41e6-8f53-3e9d554e1c25/canada_house_cleaning_banner_for_cleaningpros-min.jpg__1170x0_q85_subsampling-2_upscale.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	h1, h3 {
		text-align: center;
		color: white;
	}

	h1 {
		font-size: 50;
	}

	h3 {
		font-size: 25;
	}

	#buttons {
		text-align: center;
	}

	#content {
		margin: auto;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	a:link, a:visited {
    background-color: #000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	}

	a:hover, a:active {
	    background-color: #4CAF50;
	}
</style>
{% endblock %}

{% block basecontent %}

<div id="splash">
	<div id="content">
		<h1>BoDo</h1>
		<h3>The new chore wheel</h3>
		<div id="buttons">
			<a href='/signup'>Signup</a>
			<a href='/login'>Login</a>
		</div>
	</div>
	<div></div>
</div>

{% endblock %}
